@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --primary-color:#5e6f75;
    --bg-color:rgb(255, 255, 255);
    --glass-bg:rgba(255,255,255,0.4);
    --text-color:#444f55;
    --white:#fff;
    --gray-color:#c9ced2;
    --shadow: 0 0 15px rgb(0, 0, 0,0.15);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato' , sans-serif;
    border: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.container{
    max-width: 768px;
    margin: 0 auto;
}
.container-fluid{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: 0.5s;
    scroll-behavior: smooth;
    font-size: 1.1rem;
}
.bx{
    font-size: 1.4rem;
    transition: 0.3s;
}
img{
    width: 100%;
}


/* ============================== btn ============================== */
.btn{
    cursor: pointer;
    transition: all 0.3s;
    margin: 0.3rem;
    background: transparent;
    border-radius: 4px;
}
.btn:hover{
    transform: scale(1.05);
}
.btn:active{
    transform: scale(0.95);
}
.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: linkAnime 3s infinite;
}
.btn-link i{
    margin-left: 0.5rem;
}
@keyframes linkAnime{
    0%{
        margin-left: 0.2rem;
    }
    25%{
        margin-left: 1rem;
    }
    50%{
        margin-left: 0.2rem;
    }
    75%{
        margin-left: 1rem;
    }
    100%{
        margin-left: 0.2rem;
    }
}
/* ============================== btn ============================== */




/* ============================== header ============================== */
.header{
    background-color: transparent;
    padding: 1rem 0;
}
.logo{
    width: 24px;
    height: 24px;
    background: transparent;
    border: 3px solid var(--bg-color);
    border-radius: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav{
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    transition: 0.3s ease-in-out;
    z-index: 999;
}
header .btn-toggle-menu{
    color: var(--white);
}
nav .btn-toggle-menu{
    color: var(--text-color);
}
.nav-hidden{
    left: 0;
}
nav li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}
nav a{
    color: var(--text-color);
    transition: 0.3s;
    font-weight: bold;
}
nav a:hover{
    color: var(--primary-color);
    transform: translateY(-2px);
}

.btn-toggle-menu{
    color: var(--white);
    color: var(--text-color);
    position: absolute;
    top: 10px;
    right: 10px;
}
/* ============================== header ============================== */


/* ============================== intro ============================== */
.intro{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    background: url("image/article-images/landscape-4.jpg") no-repeat center / cover;
    position: relative;
}
.intro-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--bg-color);
    z-index: 600;
}
.intro-welcome h4{
    margin: 1rem 0;
}
.intro-project{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    position: absolute;
    top: 90%;
    left: 3%;
    color: var(--white);
}
.btn-intro-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}
/* ============================== intro ============================== */


/* ============================== projects ============================== */
.finished-work-bg{
    background: var(--bg-color);
    color: var(--text-color);
    padding: 3.5rem 0;
}
.finished-work{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    transition: 0.3s;
}
.work{
    margin: 2rem 0;
    text-align: center;
}
.work h1{
    font-size: 4rem;
}
.work p{
    text-transform: uppercase;
    font-weight: bold;
}
/* ============================== projects ============================== */

/* ============================== structure ============================== */

.structure-bg{
    background: var(--bg-color);
    padding: 3rem 0;
}
.structure{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0.5rem;
}
.structure-part{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.structure-part h4{
    margin: 0.5rem 0;
    color: var(--text-color);
}
.structure-part h4::first-letter{
    font-size: 2rem;
    border-bottom: 2px solid var(--text-color);
}
.structure-part p{
    width: 100%;
    color: var(--text-color);
    text-align: left;
    margin: 0.5rem 0;
}
.structure-part a{
    color: var(--text-color);
}
.structure-part-image img{
    border-radius: 4px;
    box-shadow: var(--shadow);
}
/* ============================== structure ============================== */


/* ============================== slider ============================== */
.slider-bg{
    background: var(--bg-color);
    padding: 3rem 0;
    margin: 2rem 0;
}
.slider{
    width: 100%;
    height: auto;
    overflow-x:hidden;
    display: flex;
}
.slide{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    transition: 0.3s;
}
.slide a{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    box-shadow: var(--shadow);
}
.slide a:hover  .image-hover{
    top: 0;
}
.slide-image{
    object-position: center;
    object-fit: cover;
}
.image-hover{
    width: 100%;
    height: 100%;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 100%;
    transition: 0.3s;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}
.slide-index{
    color: var(--text-color);
    margin: 0.5rem 0;
}
.btn-slider{
    padding: 1rem;
}
/* ============================== slider ============================== */


/* ============================== video ============================== */
.video-bg{
    padding: 3rem 0;
    margin: 3rem 0;
}
.video-caption{
    color: var(--text-color);
}
.video-caption p{
    margin: 1rem 0;
}
.video{
    width: 100%;
}
video{
    width: 100%;
    height: 500px;
}
/* ============================== video ============================== */


/* ============================== employee's ============================== */
.employee-bg{
    padding: 1rem 0;
    margin: 2rem 0;
}
.employee-caotion{
    margin: 1rem 0;
    color: var(--text-color);
}
.employee-caotion p{
    margin: 1rem 0;
}
.employee{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    text-align: center;
}
.emp{
    overflow: hidden;
    color: var(--text-color);
}
.emp img{
    box-shadow: var(--shadow);
}
.emp img{
    object-fit: cover;
}
/* ============================== employee's ============================== */


/* ============================== footer ============================== */

.footer{
    border-top: 1px solid var(--gray-color);
    padding: 1rem 0;
}

/* ============================== footer ============================== */


/* ============================== media query's ============================== */
/* ============ 426px ============ */

@media(min-width:426px){
    .bx{
        font-size: 1.6rem;
    }
    nav{
        width: 50vw;
        max-width: 450px;
    }
    .finished-work{
        grid-template-columns: repeat(2,1fr);
    }
    .intro-welcome h4{
        font-size: 4rem;
        text-shadow: var(--shadow);
    }
    .employee{
        grid-template-columns: repeat(2,1fr);
    }
}

/* ============ 768px ============ */


@media(min-width:768px){
    
    .finished-work{
        grid-template-columns: repeat(3,1fr);
    }
    .structure-part{
        flex-direction: row;
        justify-content: space-between;
    }
    .structure-part:nth-child(2),.structure-part:nth-child(4){
        flex-direction: row-reverse;
    }
    .structure-part-image{
        width: 45%;
    }
    .structure-part-body{
        width: 45%;
    }
    .structure-part a{
        margin: 1rem 5rem 0 0;
    }
    
    .employee{
        grid-template-columns: repeat(3,1fr);
    }
}
/* ============ 1024 ============ */
@media(min-width:1024px){
    
}
/* ============================== media query's ============================== */